
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webtuyensinh</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/assets/lib/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/lib/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webtuyensinh.styles.css" asp-append-version="true" />
    <script src="~/assets/lib/tagify/tagify.js"></script>
    <link href="~/assets/lib/tagify/tagify.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header>
        <div class="topbar">
            <div class="container d-flex justify-content-between">
                <div class="topbar__contactl">
                    <a class="me-2" href="tel:0369109466"><i class="fas fa-phone-alt"></i> Hotline: 0961556874 – 0972796312</a>
                    <a href="mailto:sonnguyen20140720@gmail.com"><i class="fas fa-envelope"></i> tuyensinh.vieclam365@gmail.com</a>
                </div>
                <div class="topbar__contactr">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-pinterest-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/img/logo-tuyensinh.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Quản trị viên</a>
                            </li>
                        }
                        @if(!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/login">Đăng nhập</a>
                            </li>
                        }
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/logout">Đăng xuất</a>
                            </li>
                        }
                    </ul>
                </div>
                <a href="#" class="navbar-btnlienhe">
                    Tư vấn trực tuyến
                </a>
            </div>
        </nav>
    </header>
    <main role="main" class="p-main pb-3">
        @RenderBody()
    </main>
    <footer class="">
        <div class="footer-grouplinks py-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="footer-grouplinks__category">Category</h3>
                        <ul class="footer-grouplinks__list">
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="footer-grouplinks__category">Category</h3>
                        <ul class="footer-grouplinks__list">
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="footer-grouplinks__category">Category</h3>
                        <ul class="footer-grouplinks__list">
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="footer-grouplinks__category">Category</h3>
                        <ul class="footer-grouplinks__list">
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3 class="footer-grouplinks__category">Category</h3>
                        <ul class="footer-grouplinks__list">
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                            <li class="footer-grouplinks__item">
                                <a href="#" class="footer-grouplinks__link">Link #</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-body py-5">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-column justify-content-center mb-3 mb-md-0">
                        <div class="footer-body__logo mb-3">
                            <img src="~/assets/img/logo-tuyensinh.png" />
                        </div>
                        <div class="footer-body__contact">
                            <p class="footer-body__contactiii">
                                <i class="fas fa-phone-alt"></i>
                                <span>Hotline:</span>
                                09 6155 6874 – 09 7279 6312
                            </p>
                            <p class="footer-body__contactiii">
                                <i class="fas fa-envelope"></i>
                                <span>Email:</span>
                                tuyensinh.vieclam365@gmail.com
                            </p>
                            <p class="footer-body__contactiii">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Địa chỉ:</span>
                                Số 75 Ngõ 45 - Bùi Huy Bích - Hoàng Mai - Hà Nội
                            </p>
                            <div>
                                <i class="fab fa-facebook"></i>
                                <i class="fab fa-youtube"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-pinterest"></i>
                                <i class="fab fa-skype"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <iframe class="mx-auto" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d305.9410744925223!2d111.91916664611128!3d8.64424069699176!3m2!1i1024!2i768!4f13.1!5e1!3m2!1svi!2s!4v1689177465827!5m2!1svi!2s" width="400" height="230" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottombar">
            <div class="container">
                &copy; Copyright Tuyendungvieclam.com 2022. Designed by Vicogroup.vn
            </div>
        </div>
    </footer>
    <script src="~/assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
