@model webtuyensinh.ViewModels.PostViewModel

<div class="container">
    <div class="row">
        @foreach(var post in Model.Posts)
        {
            <div class="col-4">
                <h3>@post.Title</h3>
                <p>@post.Description</p>
                <p>@Html.Raw(post.Content)</p>
            </div>
        }
    </div>
</div>