header .topbar {
  padding: 5px 0;
  background: var(--1, #007DD1);
}
header .topbar a {
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
}
header .topbar a:hover {
  color: #ffffff;
}
header nav.navbar .navbar-brand {
  height: 70px;
}
header nav.navbar .navbar-nav .nav-link {
  font-weight: 600;
}
header nav.navbar .navbar-btn_search {
  color: var(--1, #007DD1);
  margin: 0 15px;
  background: none;
  border: none;
  outline: none;
}
header nav.navbar .navbar-btnlienhe {
  color: var(--3, #FFF);
  font-weight: 600;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 56px;
  background: var(--2, #F26725);
}

.p-main.dark {
  background-color: #f1f2f6;
}

footer .bottombar {
  font-weight: 400;
  color: var(--ffffff, #FFF);
  text-align: center;
  padding: 5px 0;
  background: var(--1, #007DD1);
  line-height: normal;
}
footer .footer-grouplinks {
  background: #EFF0FF;
}
footer .footer-grouplinks__list {
  list-style: none;
  padding-left: 5px;
  margin: 0;
}
footer .footer-grouplinks__category {
  color: var(--1, #007DD1);
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
footer .footer-grouplinks__item {
  margin-bottom: 4px;
}
footer .footer-grouplinks__link {
  color: var(--444444, #444) !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
footer .footer-body__logo {
  width: 260px;
}
footer .footer-body__contactiii {
  color: var(--444444, #444);
}
footer .footer-body__contactiii span {
  font-weight: 600;
  margin: 0 5px;
}
footer .footer-body__contactiii i {
  color: #F26725;
}
