@font-face {
    font-family: "San Francisco";
    font-display: swap;
    src: url("../webfonts/SanFrancisco/SanFranciscoDisplay-Regular.otf") format('truetype');
}
@mixin SanFrancisco {
    font-family: "San Francisco";
}
body {
    @include SanFrancisco;
}
header {
    .topbar {
        padding: 5px 0;
        background: var(--1, #007DD1);

        a {
            &:hover {
                color: #ffffff;
            }

            font-size: 13px;
            color: #ffffff;
            text-decoration: none;
        }

        .topbar__contactl {
            a {
                color: var(--white, #FFF);
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    nav.navbar {
        .navbar-brand {
            height: 70px;
        }

        .navbar-nav .nav-link {
            color: var(--4, #000);
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .navbar-btn_search {
            color: var(--1, #007DD1);
            margin: 0 15px;
            background: none;
            border: none;
            outline: none;
        }

        .navbar-btnlienhe {
            color: var(--3, #FFF);
            font-weight: 600;
            text-decoration: none;
            padding: 12px 16px;
            border-radius: 56px;
            background: var(--2, #F26725);
        }
    }
}

.p-main.dark {
    background-color: #f1f2f6;
}

footer {
    .bottombar {
        font-weight: 400;
        color: var(--ffffff, #FFF);
        text-align: center;
        padding: 5px 0;
        background: var(--1, #007DD1);
        line-height: normal;
    }

    .footer-grouplinks {
        background: #EFF0FF;
    }

    .footer-grouplinks__list {
        list-style: none;
        padding-left: 5px;
        margin: 0;
    }

    .footer-grouplinks__category {
        color: var(--1, #007DD1);
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .footer-grouplinks__item {
        margin-bottom: 4px;
    }

    .footer-grouplinks__link {
        color: var(--444444, #444) !important;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }

    .footer-body {
    }

    .footer-body__logo {
        width: 260px;
    }

    .footer-body__contactiii {
        color: var(--444444, #444);

        span {
            font-weight: 600;
            margin: 0 5px;
        }

        i {
            color: #F26725;
        }
    }
}