.home-introduce {
    /*width: 100vw;*/
    font-family: 'Montserrat', sans-serif;
    background-image: url('../../img/banner.png');
    background-size: cover;
    background-position: center center;

    .home-introduce__content {
        width: 40%;
        height: 100%;
        padding: 45px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        .home-introduce__title {

            .t1 {
                color: #FFBE30;
                font-size: 64px;
                font-weight: 800;
                text-transform: uppercase;
            }

            .t2 {
                color: #FFF;
                font-size: 50px;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 24px;
            }
        }

        .home-introduce__article {
            margin: 15px 0;
            color: var(--3, #FFF);
            font-family: Roboto;
            font-weight: 400;
            text-align: justify;
            line-height: 24px;
        }

        .home-introduce__btn-signin {
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 10px;
            padding: 12px 16px;
            background: var(--2, #F26725);
        }
    }

    .home-introduce__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        background: var(--1, #007DD1);
        position: relative;

        &.none {
            opacity: 0;
            visibility: hidden;
        }

        .f1 {
            margin-bottom: 15px;
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }

        .home-introduce__btn-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 10px;
            color: #FFF;
            outline: none;
            border: none;
            background: none;
        }

        .btn-submit {
            color: #FFF;
            text-align: center;
            font-weight: 600;
            letter-spacing: 0.64px;
            border-radius: 5px;
            background: var(--2, #F26725);
        }
    }
}


.home-reason {
    font-family: 'Montserrat', sans-serif;

    .home-reason__title {
        color: var(--1, #007DD1);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .home-reason__wrapper {
    }

    .home-reason__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .home-reason__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            color: #FFF;
            border-radius: 13px;
            background: #E05194;
            background-color: var(--hri-color);
        }

        .home-reason__name {
            text-align: center;
        }
    }
}

.home-news {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;

    .home-news__header {
        height: 50px;
        margin-bottom: 20px;
        display: flex;

        .home-news__topic {
            color: var(--1, #007DD1);
            white-space: nowrap;
            /*text-align: center;*/
            font-size: 28px;
            font-weight: 700;
        }

        .home-news__hline {
            display: block;
            margin: 0 10px;
            width: 100%;
            height: 1px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 1px;
                left: 0;
                width: 100%;
                height: 1px;
                border-top: 2px solid #D9D9D9;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 0;
                width: 100%;
                height: 1px;
                border-bottom: 2px solid #D9D9D9;
            }
        }

        .nav-tabs {
            padding: 0 10px;
            border: none;
        }

        .nav-tabs .nav-link {
            color: var(--8-f-8-f-8-f, #8F8F8F);
            float: left;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            border-radius: 5px;
        }

        .nav-tabs .nav-link.active {
            color: #FFF;
            background: var(--1, #007DD1);
            box-shadow: 0px 4px 15px 0px rgba(1, 102, 255, 0.25);
        }
    }

    .home-news__article {
        display: flex;
        flex-direction: column;

        .home-news__img {
            border-radius: 5px;
            overflow: hidden;
        }

        .home-news__category {
            color: var(--2, #F26725);
        }

        .home-news__title {
            color: #000;
            font-size: 20px;
            font-weight: 600;
        }

        .home-news__summary {
            color: #000;
            text-align: justify;
            font-weight: 400;
            line-height: 24px;
        }

        &.main {
            .home-news__category {
                margin: 5px 0;
            }

            .home-news__title {
                margin: 0 0 12px;
            }
        }

        &.extra {
            height: 110px;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;

            .home-news__img {
                flex-shrink: 0;
            }

            .home-news__category {
                color: var(--2, #F26725);
                font-size: 16px;
                font-weight: 500;
            }

            .home-news__title {
                color: #000;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
            }
        }
    }
}

.home-enrollment {
    font-family: 'Montserrat', sans-serif;
    /*width: 100vw;*/
    background-image: url('../../img/banner-enrollment-nomal.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: top center;

    .home-enrollment__topic {
        text-align: center;
        color: #fff;
        font-size: 36px;
        font-weight: 600;
    }

    .home-enrollment__slogan {
        color: #fff;
        text-align: center;
    }

    .home-enrollment__carousel {
        position: relative;

        .owl-nav {
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 37%;
            width: 45px;
            height: 45px;
            flex-shrink: 0;
            color: #007DD1 !important;
            background-color: #FFF !important;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 50%
        }

        .owl-prev {
            left: -30px;
        }

        .owl-next {
            right: -30px;
        }

        .home-enrollment__item {
            background-color: #FFF;
            border-radius: 5px;
            margin-bottom: 30px;
            /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/

            .home-enrollment__overview {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .home-enrollment__school {
                    border-radius: 28px;
                    padding: 6px 12px;
                    background: #edf6fc;

                    i {
                        font-size: 18px;
                        color: #007DD1;
                    }

                    span {
                        color: var(--4, #000);
                        font-weight: 600;
                    }
                }
            }

            .home-enrollment__title {
                color: #000;
                font-weight: 700;
            }

            .home-enrollment__stars {
                .fa-star.ac {
                    color: #FEDA00;
                }
            }

            .home-enrollment__content {
                margin-bottom: 30px;
            }

            .home-enrollment__btn {
                color: var(--3, #FFF);
                text-align: center;
                text-decoration: none;
                font-weight: 700;
                line-height: 24px;
                padding: 10px 15px;
                border-radius: 74px;
                background: var(--2, #F26725);
            }
        }
    }
}

.study-abroad {
    font-family: 'Montserrat', sans-serif;

    .study-abroad__topic {
        color: var(--1, #007DD1);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .study-abroad__slogan {
        color: var(--8-f-8-f-8-f, #8F8F8F);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .study-abroad__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 80px 0 30px;
        border-radius: 5px;
        overflow: hidden;

        .study-abroad__img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -100;
            opacity: 0.5;
            background: linear-gradient(to top, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -110;
        }

        .study-abroad__title {
            color: #FFF;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
        }

        .study-abroad__subtitle {
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }

        .study-abroad__slg {
            color: #FFFEFE;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            padding: 3px 6px;
            border-radius: 5px;
            background: var(--2, #F26725);
        }
    }
}

.labor-export {
    font-family: 'Montserrat', sans-serif;

    .labor-export__topic {
        color: var(--1, #007DD1);
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .labor-export__introduct {
        color: var(--8-f-8-f-8-f, #8F8F8F);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .labor-export__linkall {
        color: var(--1, #007DD1);
        font-size: 14px;
        font-weight: 600;
        text-decoration-line: underline;
    }

    .labor-export__country-name {
        padding: 6px 18px;
        color: var(--3, #FFF);
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        text-transform: uppercase;
    }

    .labor-export__row {
        > * {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .labor-export__col {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        &.content {
            justify-content: center;
        }

        .study-abroad__bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -100;
            opacity: 0.800000011920929;

            &.blue {
                background: var(--linear, linear-gradient(0deg, #2A6AB4 0%, rgba(42, 106, 180, 0.00) 100%));
            }

            &.red {
                background: var(--linear, linear-gradient(0deg, #FF725E 0%, rgba(255, 114, 94, 0.00) 100%));
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -110;
        }
    }
}

.home-evaluate {
    font-family: 'Montserrat', sans-serif;
    /*width: 100vw;*/
    background-image: url('../../img/banner-enrollment-nomal.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: top center;

    .home-evaluate__top {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 180px;
        } 
        
        p {
            color: var(--5, #F9FAFC);
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 0px;
            white-space: nowrap;
        }
    }

    .home-evaluate__represent {
        color: var(--3, #FFF);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .home-evaluate__item {
        margin-bottom: 30px;
        border-radius: 10px;
        background: var(--3, #FFF);
        box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.07);
    }

    .home-evaluate__avartar {
        width: 75px;
        height: 75px;
        margin-right: 15px;
    }

    .home-evaluate__stars {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        .fa-star {
            &.on {
                color: #FFCC16;
            }
        }
    }

    .home-evaluate__username {
        color: var(--4, #000);
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        margin: 0;
    }

    .home-evaluate__upper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .home-evaluate__body {
    }

    .home-evaluate__carousel {
        position: relative;

        .owl-nav {
        }

        .owl-prev,
        .owl-next {
            position: absolute;
            top: 37%;
            width: 45px;
            height: 45px;
            flex-shrink: 0;
            color: #007DD1 !important;
            background-color: #FFF !important;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 50%
        }

        .owl-prev {
            left: -35px;
        }

        .owl-next {
            right: -35px;
        }
    }
}

.home-counterparty {
    .home-counterparty__topic {
        color: var(--1, #007DD1);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .home-counterparty__slogan {
        color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .home-counterparty__wrapper {
    }

    .home-counterparty__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 140px;
        padding: 20px;
        border-radius: 7px;
        border: 1px solid var(--stroke, #DCDFE6);
        background: var(--white, #FFF);

        img {
            height: auto;
        }
    }
}

.home-ending {
    font-family: 'Montserrat', sans-serif;

    .home-ending__video {
        border-radius: 10px;
        overflow: hidden;
    }

    .home-ending__img {
        height: 240px;
        border-radius: 10px;
        overflow: hidden;
    }

    .home-ending__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-radius: 5px;
        background: #2A6AB4;

        .f1 {
            color: #FFF;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px; /* 100% */
        }

        .f2 {
            color: #FFF;
            text-align: center;
            line-height: 24px; /* 150% */
            letter-spacing: 0.64px;
        }

        .form-label {
            color: var(--3, #FFF);
            font-size: 18px;
            font-weight: 700;
            line-height: 24px; /* 133.333% */
            letter-spacing: 0.72px;
        }

        .btn-submit {
            padding: 10px 15px;
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px; /* 133.333% */
            letter-spacing: 0.72px;
            border-radius: 33px;
            background: var(--2, #F26725);
        }
    }
}