.post-details {
    .blog-post-meta {
        color: rgb(95, 93, 93);
        font-size: 14px;
        font-weight: 600;
    }

    &__info {
        background: #ffffff !important;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &__cate {
        padding: 6px 12px;
        background-color: #F26725;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__des {
        font-weight: 500;
        color: #57606f;
    }

    &__tt {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
    }

    &__tags-item {
        min-width: 100px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 5px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: #F26725;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #F26725;
            transition: all 0.3s ease-in-out;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__main {
        background: #ffffff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .blog-post {
        }
    }
}


.posts-tag {
    &__info {
        background: #ffffff !important;
        border-radius: 4px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &__tt {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__tags-item {
        min-width: 100px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 5px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        background-color: #4b7bec;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #70a1ff;
            transition: all 0.3s ease-in-out;
        }
    }

    &__title {
        font-weight: 700;
    }

    &__main {
        background: #ffffff;
        border-radius: 4px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .blog-post {
            font-weight: 500;
        }

        .blog-post-des {
            text-decoration: none;
            color: #000;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            transition: all 0.3s ease;

            &:hover {
                text-decoration: underline;
                transition: all 0.3s ease;
            }
        }

        .blog-post-meta {
            color: #95a5a6;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.posts-cate {
    &__info {
        background: #ffffff !important;
        border-radius: 4px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &__tt {
        font-family: 'Merriweather', serif;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__tags-item {
        min-width: 100px;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 5px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        background-color: #4b7bec;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #70a1ff;
            transition: all 0.3s ease-in-out;
        }
    }

    &__title {
        font-family: 'Merriweather', serif;
        font-weight: 700;
    }

    &__main {
        background: #ffffff;
        border-radius: 4px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .blog-post {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }

        .blog-post-des {
            text-decoration: none;
            color: #000;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            transition: all 0.3s ease;

            &:hover {
                text-decoration: underline;
                transition: all 0.3s ease;
            }
        }

        .blog-post-meta {
            color: #95a5a6;
            font-size: 14px;
            font-weight: 600;
        }
    }
}