.post-details__info {
  background: #ffffff !important;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.post-details__cate {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
.post-details__des {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #57606f;
}
.post-details__tt {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.post-details__tags-item {
  min-width: 100px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #4b7bec;
  transition: all 0.3s ease-in-out;
}
.post-details__tags-item:hover {
  color: #fff;
  background-color: #70a1ff;
  transition: all 0.3s ease-in-out;
}
.post-details__title {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
.post-details__main {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.post-details__main .blog-post {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.post-details__main .blog-post-meta {
  color: #95a5a6;
  font-size: 14px;
  font-weight: 600;
}

.posts-tag__info {
  background: #ffffff !important;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.posts-tag__tt {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.posts-tag__tags-item {
  min-width: 100px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #4b7bec;
  transition: all 0.3s ease-in-out;
}
.posts-tag__tags-item:hover {
  color: #fff;
  background-color: #70a1ff;
  transition: all 0.3s ease-in-out;
}
.posts-tag__title {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
.posts-tag__main {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.posts-tag__main .blog-post {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.posts-tag__main .blog-post-des {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
}
.posts-tag__main .blog-post-des:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}
.posts-tag__main .blog-post-meta {
  color: #95a5a6;
  font-size: 14px;
  font-weight: 600;
}

.posts-cate__info {
  background: #ffffff !important;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.posts-cate__tt {
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.posts-cate__tags-item {
  min-width: 100px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #4b7bec;
  transition: all 0.3s ease-in-out;
}
.posts-cate__tags-item:hover {
  color: #fff;
  background-color: #70a1ff;
  transition: all 0.3s ease-in-out;
}
.posts-cate__title {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
.posts-cate__main {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.posts-cate__main .blog-post {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.posts-cate__main .blog-post-des {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
}
.posts-cate__main .blog-post-des:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}
.posts-cate__main .blog-post-meta {
  color: #95a5a6;
  font-size: 14px;
  font-weight: 600;
}
